@import './theme.less';

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: @mainColor;
}
#app {
  height: 100%;
  font-family: "Helvetica Neue",Helvetica,"PingFang SC","Hiragino Sans GB","Microsoft YaHei","微软雅黑",Arial,sans-serif;
}
.el-submenu__title {
  background: rgb(84, 92, 100) !important;
}

.el-input--small, .el-input__inner {
  height: 50px !important;
  line-height: 50px !important;
}
